body{
  margin: 0;
}

.header{
  height:80px;
}
.logo_part{
  height:70px;
  width:150px;
  margin-top:0px;
  margin-left:70px;
  margin-right:AUTO;
  padding-top: 10px;
  float:left;
}
.logo{
  margin-left:AUTO;
  margin-right:AUTO;
  height:70px;
  -webkit-user-drag:none;
}
.trade_logo_part{
  padding-top: 25px;
  float:right;
  height:35px;
  text-align: center;
  margin-right:5%;
}
.trade_logo{
  margin-left:AUTO;
  margin-right:AUTO;
  height:30px;
  -webkit-user-drag:none;
}
.studyzone_logo_part{
  padding-top: 25px;
  float:right;
  height:35px;
  text-align: center;
  margin-right:2%;
}
.studyzone_logo{
  margin-left:AUTO;
  margin-right:AUTO;
  height:30px;
  -webkit-user-drag:none;
}
.friendzone_logo_part{
  padding-top: 25px;
  float:right;
  height:35px;
  text-align: center;
  margin-right:2%;
}
.friendzone_logo{
  margin-left:AUTO;
  margin-right:AUTO;
  height:30px;
  -webkit-user-drag:none;
}
.homepage_logo_part{
  padding-top: 25px;
  float:right;
  height:35px;
  text-align: center;
  margin-right:2%;
}
.homepage_logo{
  margin-left:AUTO;
  margin-right:AUTO;
  height:30px;
  -webkit-user-drag:none;
}
.login{
  padding-top: 5px;
  float:right;
  /* margin-left: 100px; */
  margin-right: 5%;
  height:70px;
  text-align: center;
  line-height:70px;
}
.background{
  width:auto;
  height:600px;
  /* background-image:url('../image/index_pic2.png');
  background-repeat:no-repeat;
  background-size:cover; */
}
.background_pic{
  width: 100%;
  -webkit-user-drag:none;
}
