<!DOCTYPE html>
<html lang="en" style="font-size: 15px;">

</html>

<head>
  <meta charset="utf-8">
  <title>Forgot Passward</title>
  <link rel="stylesheet" type="text/css" href="../css/forgot_password.css" />
</head>

<body>
  <div class="forgot_password_page">
    <div class="logo_part">
      <a href="index.html">
        <img class="logo" src="../image/logo.png" />
      </a>
    </div>
    <h1 role="heading" class="forgot_password_title">
      <span>Forgot Password</span>
    </h1>

    <!-- changed action to /login -->
    <form novalidate class="information">
      <div class="username_box">
        <div class="username_box2">
          <div>
            <span class="username_title">Username</span>
          </div>
          <div>
            <!-- changed name from "session[username_or_email]" to email -->
            <input name="username" type="text" id="username" class="input_username">
          </div>
        </div>
      </div>
      <div class="password_box">
        <div class="password_box2">
          <div>
            <span class="password_title">Phone</span>
          </div>
          <div>
            <!-- changed name from "session[password]" to password -->
            <input name="password" type="text" id="phone" class="input_password">
          </div>
        </div>
      </div>
      <div class="password_box">
        <div class="password_box2">
          <div>
            <span class="password_title">Passward</span>
          </div>
          <div>
            <!-- changed name from "session[password]" to password -->
            <input name="password" type="password" id="password" class="input_password">
          </div>
        </div>
      </div>
      <div class="password_box">
        <div class="password_box2">
          <div>
            <span class="password_title">Confirm Passward</span>
          </div>
          <div>
            <!-- changed name from "session[password]" to password -->
            <input name="confirm_password" id="confirmPassword" type="password" class="input_password">
          </div>
        </div>
      </div>

      <div role="button" class="button_box data-testid=" forget_Button>
        <div dir="auto" class="">
          <!--change button to input type =submit-->
          <input type="submit" id="forgetBtn" value="Get Back" name="" class="forget_button">
        </div>
      </div>
    </form>

    <div class="tool_box">
      <a href="login.html" role="link" class="login" style="text-decoration:none;">
        Login
      </a>
    </div>
  </div>
  <script src="../script/jquery.min.js"></script>
  <script src="../script/common.js"></script>
  <script>
    $("#forgetBtn").click(e => {
      e.preventDefault();
      var username = $("#username").val();
      var phone = $("#phone").val();
      var password = $("#password").val();
      var confirmPassword = $("#confirmPassword").val()
      $.post(baseUrl + "/users/forgetPassword", {
        username,
        phone,
        password,
        confirmPassword
      }).then(res => {
        if (res.code != 200) {
          return alert(res.message);
        }
        alert(res.message);
        location.href = "./login.html"
      })
    })
  </script>
</body>

</html>