<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <link rel="stylesheet" type="text/css" href="../css/index.css"/>
</head>

<body>
  <div class="header">
    <div class="logo_part">
      <a href="index.html" style="text-decoration:none;-webkit-user-drag:none;">
        <img class="logo" src="../image/logo.png"/>
      </a>
    </div>

    <div class="login">
      <a href="login.html" id="userName" style="text-decoration:none;color:#CC0633;-webkit-user-drag:none;font-weight:bold;">Login</a>
      <span id="logoutBtn" onclick="logout()" style="cursor: pointer; display: none">Logout</span>
    </div>
    <div class="trade_logo_part">
      <a href="trade.html" style="text-decoration:none;-webkit-user-drag:none;">
        <img class="trade_logo" src="../image/trade_logo.png"/>
      </a>
    </div>
    <div class="studyzone_logo_part">
      <a href="studyzone.html" style="text-decoration:none;-webkit-user-drag:none;">
        <img class="studyzone_logo" src="../image/study_zone_logo.png"/>
      </a>
    </div>
    <div class="friendzone_logo_part">
      <a href="friendzone.html" style="text-decoration:none;-webkit-user-drag:none;">
        <img class="friendzone_logo" src="../image/friend_add_logo.png"/>
      </a>
    </div>
    <div class="homepage_logo_part">
      <a href="index.html" style="text-decoration:none;-webkit-user-drag:none;">
        <img class="homepage_logo" src="../image/homepage_logo_mouseOn.png"/>
      </a>
    </div>
  </div>

  <div class="background">
    <div class="background_part">
      <a href="register.html" style="text-decoration:none;-webkit-user-drag:none;">
        <img class="background_pic" src="../image/index_pic2.png"/>
      </a>
    </div>
    <div>

    </div>
  </div>

  <script src="../script/index_script.js">
  </script>
</body>
</html>
