<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>woohoo - Studyzone</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/personal.css">
    <style>
        .right {
            width: 100% !important;
            padding: 0 15px 15px !important;
        }

        .studyzone_logo_part.icon-item a {
            background-image: url("../image/study_zone_logo_mouseOn.png") !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="logo_part">
                <a href="index.html" style="text-decoration:none;-webkit-user-drag:none;">
                    <img class="logo" src="../image/logo.png" />
                </a>
            </div>
            <div class="filter">
                <el-input v-model="keywords">
                    <i class="el-icon-search el-input__icon" slot="suffix" @click="search">
                    </i>
                </el-input>
            </div>
            <div class="login">
                <a href="personal.html" v-if="userInfo"
                    style="text-decoration:none;color:#CC0633;-webkit-user-drag:none;font-weight:bold;">
                    {{userInfo.nickname}}
                </a>
                <a href="login.html" v-else
                    style="text-decoration:none;color:#CC0633;-webkit-user-drag:none;font-weight:bold;">
                    Login
                </a>
                <span onclick="logout()" style="cursor: pointer; color: cornflowerblue" v-if="userInfo">Logout</span>
            </div>
            <div class="trade_logo_part icon-item">
                <a href="trade.html" style="text-decoration:none;-webkit-user-drag:none;">
                </a>
            </div>
            <div class="studyzone_logo_part active icon-item">
                <a href="studyzone.html" style="text-decoration:none;-webkit-user-drag:none;">
                </a>
            </div>
            <div class="friendzone_logo_part icon-item">
                <a href="friendzone.html" style="text-decoration:none;-webkit-user-drag:none;">
                </a>
            </div>
            <div class="homepage_logo_part icon-item">
                <a href="index.html" style="text-decoration:none;-webkit-user-drag:none;">
                </a>
            </div>
        </div>
        <section>
            <div class="container flex">
                <ul class="right flex column" v-if="postList.length > 0">
                    <li class="flex item column" v-for="(item, index) in postList" :key="index">
                        <el-card shadow="always">
                            <div class="right-title">
                                {{item.title}}
                            </div>
                            <div class="right-content" v-html="item.content">
                                {{item.content}}
                            </div>
                            <div class="right-imgs" v-if="item.imgs">
                                <el-row>
                                    <el-col :span="8" v-for="(v, i) in item.imgs.split(',')" :key="i">
                                        <div class="right-img-wrapper">
                                            <div class="wrapper-content">
                                                <el-image style="width:100%;height: 100%" lazy :fit="'contain'" :src="v"
                                                    :preview-src-list="item.imgs.split(',')"></el-image>
                                            </div>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                            <div class="right-extra">
                                <div style="display: flex; justify-content: flex-start; align-items: center;">
                                    <el-image style="width: 50px; height: 50px; margin-right: 5px"
                                        :src="item.createUser.logo" fit="fill"></el-image>
                                    {{item.createUser.nickname}} Post in：{{item.createTime | dateFormat}}
                                </div>
                            </div>
                        </el-card>
                    </li>
                </ul>
                <ul class="right flex column" v-else>
                    <li>
                        <el-card shadow="always">
                            There is no information post yet!
                        </el-card>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- 引入组件库 -->
    <script src="../script/jquery.min.js"></script>
    <script src="../script/moment.js"></script>
    <script src="../script/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                userInfo: userInfo,
                typeNow: 1,
                keywords: "",
                postList: []
            },
            computed: {

            },
            created() {
                this.search();
            },
            filters: {
                dateFormat(date) {
                    return moment(date).calendar();
                }
            },
            methods: {
                toggleType(type) {
                    this.typeNow = this.typeNow == type ? this.typeNow : type;
                },
                search() {
                    $.get(baseUrl + "/posts/list", {
                        keywords: this.keywords
                    }).then(res => {
                        this.postList = res.data || [];
                    })
                },
            },
            mounted() { },
        })
    </script>
</body>

</html>